<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <input type="text" name="inp_username" placeholder="User name" required ><br>
        <input type="password" name="inp_pass" placeholder="şifre" required ><br>
        <input type="submit" value="giriş yap">
    </form>
    {% if error %}
    {{error}}
    {% endif %}
</body>
</html>