<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sayfa Bulunamadı!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .sayfaUyari{
            width: 400px;
            margin: auto;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
            margin-top: 200px;
            text-align: center;
        }
    </style>

</head>
<body>
        <div class="sayfaUyari" >
            Aradığınız sayfa Bulunamadı ! <br><br>
            Anasayfamıza gitmek için <a href="/" >tıklatıyız</a>
            5 sn sonra anasayfaya yönlendirileceksiniz.
        </div>
        <script>
            /* 5 sn sonra anasayfaya yönlendirme, jquery ve javascript*/
            $(document).ready(function () {
                // Handler for .ready() called.
                window.setTimeout(function () {
                    location.href = "/";
                }, 5000);
            });
        </script>

</body>
</html>